@(form: Form[models.User])

@main("Business Informatics Group Jeopardy! - Login") {

<body id="login-page">
      <a class="accessibility" href="#login">Zum Login springen</a>
	  <a class="accessibility" title="Klicke hier um dich zu registrieren" href="/registration" accesskey="r">Registrieren</a>  
      <!-- Header -->
      <header role="banner" aria-labelledby="bannerheading">
         <h1 id="bannerheading">
            <span class="accessibility">Business Informatics Group </span><span class="gametitle">Jeopardy!</span>
         </h1>
      </header>
      
      <!-- Content -->
        <div role="main">
            <section id="login" aria-labelledby="loginheading">
               <h2 id="loginheading" class="accessibility">Login</h2>
         		@helper.form(action = routes.Authentication.login()) {
                    <fieldset>
                        <legend id="logindata">Login</legend>
                         @helper.inputText(form("name"), 'id -> "name", 'type -> "text", '_label -> "Benutzername:", '_showConstraints -> false, '_showErrors -> false)
                    	@for(error <- form("usernameError").error) {
                    	<div id="error_msg_username" class="error" role="alert">Benutzername ungültig.</div>
                    	}
                    
                    
	                    @helper.inputText(form("password"), 'id -> "password", 'type -> "password", '_label -> "Passwort:", '_showConstraints -> false, '_showErrors -> false)
	                    @for(error <- form("passwordError").error) {
	                    <div id="error_msg_password" class="error" role="alert">Passwort ungültig.</div>
	                    }
	                    
						@for(error <- form("authenticationError").error) {
	                    <div id="error_msg_password" class="error" role="alert">Benutzername und/oder Passwort falsch.</div>
	                    }
                        <input name="login" id="loginsubmit" class="greenlink formlink clickable" type="submit" value="Anmelden"/>
                    </fieldset>
                }
            </section>
            <!-- Register section -->
            <section id="registerforward" aria-labelledby="registerheading">
                <h2 id="registerheading" class="accessibility">Registrierung</h2>
                <p id="registerhint">Nicht registriert?</p>
                <a class="contentlink orangelink" title="Klicke hier um dich zu registrieren" href="/registration" accesskey="r">Zur Registrierung</a>
            </section>
        </div>

        <!-- footer -->
        <footer role="contentinfo">© 2015 BIG Jeopardy</footer>

        
        }
