@(game: at.ac.tuwien.big.we15.lab2.api.JeopardyGame)

@main("Business Informatics Group Jeopardy! - Gewinnanzeige"){
    <body id="winner-page">
      <a class="accessibility" href="#winner">Zur Gewinnanzeige springen</a>
      <!-- Header -->
      <header role="banner" aria-labelledby="bannerheading">
         <h1 id="bannerheading">
            <span class="accessibility">Business Informatics Group </span><span class="gametitle">Jeopardy!</span>
         </h1>
      </header>
      
      <!-- Navigation -->
		<nav role="navigation" aria-labelledby="navheading">
			<h2 id="navheading" class="accessibility">Navigation</h2>
			<ul>
				<li><a class="orangelink navigationlink" id="logoutlink" title="@Messages("logout")" href="/logout" accesskey="l">Abmelden</a></li>
			</ul>
		</nav>
      
      <!-- Content -->
      <div role="main">
         <section id="gameinfo" aria-labelledby="winnerinfoheading">
            <h2 id="winnerinfoheading" class="accessibility">@Messages("winner.info")</h2>
            <p class="user-info positive-change">Du hast richtig geantwortet: +1000 €</p>
            <p class="user-info negative-change">Deadpool hat falsch geantwortet: -500 €</p>
            <section class="playerinfo leader" aria-labelledby="winnerannouncement">
               <h3 id="winnerannouncement">@Messages("winner"): @game.getWinner</h3>
               <img class="avatar" src="@{"assets/images/avatar/"+game.getWinner.getUser.getAvatar.getImageHead}" alt="Spieler-Avatar @game.getWinner.getUser.getAvatar.getName" />
               <table>
                  <tr>
                     <th class="accessibility">@Messages("username")</th>
                     <td class="playername">@game.getWinner.getUser.getName</td>
                  </tr>
                  <tr>
                     <th class="accessibility">@Messages("points")</th>
                     <td class="playerpoints">@Messages("currency") @game.getWinner.getProfit</td>
                  </tr>
               </table>
            </section>
            <section class="playerinfo" aria-labelledby="loserheading">
               <h3 id="loserheading" class="accessibility">@Messages("loser"): @game.getLoser.getUser.getName</h3>
               <img class="avatar" src="@{"assets/images/avatar/"+game.getLoser.getUser.getAvatar.getImageHead}" alt="Spieler-Avatar @game.getLoser.getUser.getAvatar.getName" />
               <table>
                  <tr>
                     <th class="accessibility">@Messages("username")</th>
                     <td class="playername">@game.getLoser.getUser.getName</td>
                  </tr>
                  <tr>
                     <th class="accessibility">@Messages("points")</th>
                     <td class="playerpoints">@Messages("currency") @game.getLoser.getProfit</td>
                  </tr>
               </table>
            </section>
         </section>
         <section id="newgame" aria-labelledby="newgameheading">
             <h2 id="newgameheading" class="accessibility">@Messages("new_game")</h2>
         	<form action="/index" method="get">
               	<input class="clickable orangelink contentlink" id="new_game" type="submit" name="restart" value="@Messages("new_game")" />
            </form>
         </section>
      </div>
        <!-- footer -->
        <footer role="contentinfo">© 2015 BIG Jeopardy</footer>  
}
